<h1>マイページ</h1>
<%= link_to "編集する", edit_customers_path, class: "col-xs-12 btn btn-primary" %>

<table>
<tbody>
    <tr>
        <td>氏名</td><%= @customer.fullname %>
        <td>カナ</td><%= @customer.fullname_kana %>
        <td>郵便番号</td><%= @customer.postal_code %>
        <td>住所</td><%= @customer.address %>
        <td>電話番号</td><%= @customer.telephone_number %>
        <td>メールアドレス</td><%= @customer.email %>
    </tr>
</tbody>

</table>
<%= link_to "退会はこちらから", customers_mypage_confirm_path, class: " btn btn-danger" %>
<div>配送先
    <%= link_to "一覧を見る", addresses_path, class: " btn btn-primary" %>
</div>