 <div class="container mx-auto" style="width: 600px;">
   <p id="notice"></p>
    <h4><%= @customer.fullname %>の会員詳細</h4>


      <div class="customer-group row m-5">

         <label class="col-sm-5 col-item-label">会員ID</label>
           <div class="col-sm-7">
              <%= @customer.id %>
           </div>

            <label class="col-sm-5 col-form-label">氏名</label>
            <div class="col-sm-7">
              <%= @customer.fullname %>
            </div>

            <label class="col-sm-5 col-form-label">カナ</label>
            <div class="col-sm-7">
              <%= @customer.fullname_kana %>
            </div>

            <label class="col-sm-5 col-form-label">郵便番号</label>
            <div class="col-sm-7">
              <%= @customer.postal_code %>
            </div>

            <label class="col-sm-5 col-form-label">住所</label>
            <div class="col-sm-7">
              <%= @customer.address %>
            </div>

            <label class="col-sm-5 col-form-label">電話番号</label>
            <div class="col-sm-7">
              <%= @customer.telephone_number %>
            </div>

            <label class="col-sm-5 col-form-label">メールアドレス</label>
            <div class="col-sm-7">
              <%= @customer.email %>
            </div>

            <label class="col-sm-5 col-form-label mt-3">会員ステータス</label>
            <div class="col-sm-7">
              <% if @customer.is_active %>
              　<p class="text-success">有効</p>
            　<% else %>
              　退会
            　<% end %>
            </div>
          </div>

    <%= link_to "編集する", edit_admin_customer_path(@customer.id), class: "col-xs-12 btn btn-primary" %>
  </div>