<div class="container mx-auto">
 <h4 class="m-3">注文情報入力画面</h4>
  <%= form_with model: @order, url: orders_confirm_path do |f| %>
  <h5>支払い方法</h5>
    <div>
    　　　<%= f.radio_button :payment, :credit_card %>
    　<%= f.label :payment, "クレジットカード" %><br>

    　　　<%= f.radio_button :payment, :transfer %>
    　<%= f.label :payment, "銀行振込" %>

    </div>
  <div>
  <h5>お届け先住所</h5>
    <div class="field">
    　　　　<%= f.radio_button :address_number, 0 %>
    　<%= f.label :address_number_0,"ご自身の住所" %>
    　<p>　　　　　<%= '〒' + current_customer.postal_code + ' ' +  current_customer.address + ' ' +  current_customer.fullname%></p>
    </div>
    <div class="field">
      　　　　<%= f.radio_button :address_number, 1 %>
    　<%= f.label :address_number_1,"登録済住所から選択" %></br>
    　　　　　<%= f.select :address_id, options_from_collection_for_select(current_customer.addresses, :id, :address_display) %>
    </div>
    <div class="field">
      　　　　<%= f.radio_button :address_number, 2 %>
    <%= f.label :address_number_2,"新しいお届け先" %><br>
    </div>
     <div class="row m-1">
       <div class="col-md-1"></div>
      <div class="col-md-4">郵便番号(ハイフンなし)</div>
      <div class="col-md-3"><%= f.text_field :postal_code %></div>
     </div>

     <div class="row m-1">
       <div class="col-md-1"></div>
       <div class="col-md-4">住所</div>
       <div class="col-md-3"><%= f.text_field :address %></div>
     </div>

     <div class="row m-1">
      <div class="col-md-1"></div>
      <div class="col-md-4">宛名</div>
      <div class="col-md-3"><%= f.text_field :name %></div>
     </div>
  </div>
  <div class="m-3">
  <%= f.submit "確認画面へ進む",class:"btn btn-success" %>
  </div>
  <% end %>
</div>