<h2>商品一覧</h2>
<table>
 <tbody>
<% @items.each do |item| %>
<tr>
  <td><%= link_to item_path(item.id) do %>
     <%= image_tag item.image %><br>
    <% end %>
    <%= item.name %><br>
    ￥<%= item.price %>
  </td>
</tr>
<% end %>
</tbody>
</table>

<%= paginate @items %>