<div class="container mx-auto" style="width: 1000px;">
  <p id="notice"></p>
   <h2>商品一覧</h2>
    <div class="row m-5">
    <% @items.each do |item| %>
    <div class="col-md-3">
        <%= link_to item_path(item.id) do %>
        <%= image_tag item.image, size: "150x100" %><br>
        <% end %>
        <%= item.name %><br>
        ￥<%= item.price %>
    </div>
    <% end %>
  </div>


    <%= paginate @items, theme: 'twitter-bootstrap-4' %>
</div>