<div>
  <%= image_tag @item.image %>
  <p> <%= @item.name %></p>
  <p> <%= @item.introduction %></p>
  <p>￥<%= @item.with_tax_price %>(税込)</p>
  <%= form_with model:@cart_item, url: cart_items_path, method: :post do |f| %>
  <%= f.hidden_field :item_id, :value => @item.id %>
  <p><%= f.select :amount, *[1..3] %></p>
  <%= f.submit "カートに入れる" %>
  <% end %>
</div>